@import "tailwindcss";
@source "../src";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #262a0f;
  color: #f8fafc;
  font-family: system-ui, -apple-system, sans-serif;
}
